<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Pass</title>
</head>
<body>
    <h1>Reset pass <%= email %></h1>
    <form action="" method="post">
        <label class="form label" for="password">New Pass</label>
        <input class="form control" type="password" id="password" name="password">
        <input class="form control" type="password" id="confirmPassword" name="confirmPassword">
        <button class="btn" type="submit">reset pass</button>
    </form>
</body>
</html>